table, th, td {
    border: 1px solid black;
}

td {
    width: 120px;
    height: 50px;
    text-align: center;
    background-color: #fff;
}

table, .go-center {
    margin: 0 auto;
}

.profile, .value{
    padding: 20px;
    border: 3px solid #00b7ff;
    background-color: #f9ead6;
}

.go-center {
    width: 300px;
    height: 50px;
    text-align: center;
}

#create1, #create2 {
    display: block;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: red;
    border-radius: 10px;
    background-color: #fff;
    outline: none;
}

.study {
    position: absolute;
    /* width: 100%; */
    background-color: #000;
    padding: 50px;
    display: none;
    border: 10px double #ff0000;
}

img {
    width: 1000px;
    display: block;
    margin: 0 auto;
}

#show-tip {
    cursor: pointer;
    border: 1px solid #000;
    text-align: center;
}

#close-tip {
    cursor: pointer;
    border: 1px solid #fff;
    text-align: center;
    color: #fff;
}